.jumbotron{
    background-color: grey;
    color: blue;

}


.searchBox{
    background-color: gray;
    color: blue;
    -webkit-box-shadow: -15px 9px 17px -4px #043bd4; 
    box-shadow: -15px 9px 17px -4px #043bd4;
}
#cityReturn{
    color: red;
    


}

#temp, #humidity, #windSpeed{
    color: blue;
}

body{
    font-family: 'Quicksand', sans-serif;
    color: black;
}
