.jumbotron{
    background-color: rgb(189, 65, 65);
    color: blue;
    align-content: center;
    text-align: center;
}

.ppImage{
    width: 15rem;
    height: 15rem;
}

.weatherIcon{
    width: 5rem;
    height: 5rem;
}
.hotelIcon{
    width: 10rem;
    height: 5rem;
}


.searchBox{
    display: block;
    background-color: rgb(90, 151, 93);
    color: blue;
    -webkit-box-shadow: -15px 9px 17px -4px #043bd4; 
    box-shadow: -15px 9px 17px -4px #043bd4;
    margin: auto;
    width: 30%;
    padding: 15px;
}
.cityHeader{
    color: red;
}

/* header for page "PinPoint" */
h1{
    font-size: 60px;
}

/* City name header inside of tabs */
h2{
    font-size: 40px;
}

/* Hotel names */
h3{
    text-decoration: underline;
    font-size: 20px;
}
p{
    font-size: 15px;
}

.weatherInfo{
    color: blue;
}

body{
    font-family: 'Quicksand', sans-serif;
    color: black;
}

.content {
    display: none;
    padding: 6px 12px;
    /* border: 1px solid #ccc; */
    border-top: none;
    justify-content: center;  
    align-items: center;
    margin: auto;
    width: 79%; 
}

.tabGroup button {
    width: 40%; 
    background-color: Gray;
    cursor: pointer;
    padding: 14px;
    transition: 0.3s;
    font-size: 40px;
    align-content: center;
    margin: 0px 5px;
    background-color: lightblue;

}
.tabGroup {
    margin: 20px;
    display: flex;  
    justify-content: center;  
    align-items: center;  
}

.div-left{
    background-color: rgb(100, 151, 153);
    display: block;
    width: 75%;
    height: 150px;
}


.SearchHotelResult{
    background-color: rgb(165, 151, 153);
    width: 100%;
    padding: 15px;
}

/* hotel address */
#address {
    display:inline;
    font-size: 25px;
    word-wrap: normal;
}

/* hotel images */
.SearchHotelResult img{
    float:left;
    display:inline;
    align-items: left;
    margin: 3px 20px 3px 3px;
}

.searchInput {
    width: 350px;
}

dt {
    margin:15px;
}