/* ------------------SHARED STYLES------------------ */
/* Header styling */
.jumbotron{
    background-color: rgb(189, 65, 65);
    color: blue;
    align-content: center;
    text-align: center;
}

.ppImage{
    width: 15rem;
    height: 15rem;
}

/* header for page "PinPoint" */
h1{
    font-size: 60px;
}


/* City name header inside of both tabs */
h2{
    font-size: 40px;
    color: red;
}

body{
    font-family: 'Quicksand', sans-serif;
    color: black;
}

.content {
    display: none;
    padding: 6px 12px;
    border-top: none;
    justify-content: center;  
    align-items: center;
    margin: auto;
    width: 79%; 
}

/* ---------Tab Styles--------- */
.weatherIcon{
    width: 5rem;
    height: 5rem;
}
.hotelIcon{
    width: 10rem;
    height: 5rem;
}

.tabGroup button {
    width: 40%; 
    background-color: Gray;
    cursor: pointer;
    padding: 14px;
    transition: 0.3s;
    font-size: 40px;
    align-content: center;
    margin: 0px 5px;
    background-color: lightblue;

}
.tabGroup {
    margin: 20px;
    display: flex;  
    justify-content: center;  
    align-items: center;  
}


/* ------------------WEATHER TAB STYLES------------------ */

#weather {
    background-color:#fb9f87;

}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 35%;
    top: 35%;
    height: fit-content;
  }
  
.modal-content {
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    background-color: rgb(131, 131, 131);
}

/* search box inside modal for weather tab */
#searchBox{
    background-color: rgb(90, 151, 93);
    color: blue;
    box-shadow: -15px 9px 17px -4px #043bd4;
    width: 30%;
}

/* weather buttons for recalls */
#weather button{
    width:200px;
}

#searchRecall button{
    margin-left:5px;
}

.weatherInfo{
    color: blue;
    font-size: 25px;
}

/* weather forecast cards */
#weather row{
    display: flex;
    flex-wrap: wrap;
}
.dayCard {
    margin: 10px;
    background-color: rgb(0, 0, 255);
    color: White;
    width: 20%;
}

#forecastCards {
    display: flex;
    flex-direction: row;
}

#weatherForecastReturn{
    margin: 15px;
}


/* ------------------HOTEL TAB STYLES------------------ */
/* Hotel names */
h3{
    text-decoration: underline;
    font-size: 20px;
}

.hotelDataReturn{
    font-size: 15px;
}


.div-left{
    background-color: rgb(100, 151, 153);
    display: block;
    width: 75%;
    height: fit-content;
}

.SearchHotelResult{
    background-color: rgb(165, 151, 153);
    display:none;
    width: 100%;
    padding: 15px;
}

/* hotel address */
#address {
    display:inline;
    font-size: 25px;
    word-wrap: normal;
}

/* hotel images */
.SearchHotelResult img{
    float:left;
    margin-right: 20px;
    margin-bottom: 20px;
}

/* hotel tab search boxes */
.searchInput {
    width: 350px;
}

/* hotel tab data return */
dt {
    margin:inherit;
}

#hotel input {
    width: 350px;
}

#pages {
    letter-spacing: 10px;
}